# IDE and editor files
.vscode/
.eide/
.clang-format
.clangd
*.code-workspace
.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# Course materials
SP/

# OS files
.DS_Store
Thumbs.db
